# 1️⃣ Data Preparation 
**designed by:** [datamover.ai](https://www.datamover.ai)

In [1]:
# import packages
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# make script reproducible
np.random.default_rng(seed=42)

Generator(PCG64) at 0x7FD78A8CBD60

**1 Fetch dataset**

Download dataset from this [url](https://archive.ics.uci.edu/ml/datasets/adult) and load the data in a `pd.DataFrame`.

In [2]:
# specify column name and the corresponding datatype.
columns_name = {
    "Age": int,
    "Workclass": str,
    "final weight": int,
    "Education": str,
    "Education-Num": int,
    "Marital Status": str,
    "Occupation": str,
    "Relationship": str,
    "Ethnic group": str,
    "Sex": str,
    "Capital Gain": int,
    "Capital Loss": int,
    "Hours per week": int,
    "Country": str,
    "Income": str,
}

In [3]:
data = pd.read_csv(
    "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data",
    header=None,
    names=columns_name,
)

**2 Check size of dataset and make sure your workspace has enough storage if you are dealing with big datasets**

In [8]:
size_b = data.memory_usage(deep=True).sum()  # get size in byte
size_mb = size_b / (1024 * 1024)  # convert byte to mb
print(f"Size data: {size_mb:.2f} Mb")

# Note: deep=True introspect the data deeply by interrogating object dtypes for system-level memory consumption, and include it in the returned values.

Size data: 20.16 Mb

**3. Check type of data (time series, sample, geographical, etc.) and make sure they are what they should be.**

In [5]:
data.head(10)

,Age,Workclass,final weight,Education,Education-Num,Marital Status,Occupation,Relationship,Ethnic group,Sex,Capital Gain,Capital Loss,Hours per week,Country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             32561 non-null  int64
 1   Workclass       32561 non-null  object
 2   final weight    32561 non-null  int64
 3   Education       32561 non-null  object
 4   Education-Num   32561 non-null  int64
 5   Marital Status  32561 non-null  object
 6   Occupation      32561 non-null  object
 7   Relationship    32561 non-null  object
 8   Ethnic group    32561 non-null  object
 9   Sex             32561 non-null  object
 10  Capital Gain    32561 non-null  int64
 11  Capital Loss    32561 non-null  int64
 12  Hours per week  32561 non-null  int64
 13  Country         32561 non-null  object
 14  Income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

**4. If necessary, convert the data to a format that is easy to manipulate (without changing the data itself, e.g. .csv, .json).**

In this case the dataset are already in a format easy to manipulate, i.e., `.csv`

**5. For training of ML models, sample a hold-out set, put it aside, and never look at it ⚠️.**

- typical train/test splits are `60/40`, `70/30`, `80/20`;
- it is convenient to store train and test data separately;
- **Note:** often test set and hold-out are terms used interchangeably.

<ins> For this project aim to have a 80/20 train/test split ratio. <ins>

In [9]:
TARGET = "Income"  # get target name

# split data in train and test
X_train, X_test, y_train, y_test = train_test_split(
    data.drop(columns=[TARGET]), data[TARGET], test_size=0.20, stratify=data[TARGET]
)

# re-merge X,y for both train and test
data_train = pd.merge(left=y_train, right=X_train, left_index=True, right_index=True)
data_test = pd.merge(left=y_test, right=X_test, left_index=True, right_index=True)

# double check sample size
print(
    f"# sample train set: {data_train.shape[0]} ({data_train.shape[0]/len(data):.2f}%) "
)
print(f"# sample test set: {data_test.shape[0]} ({data_test.shape[0]/len(data):.2f}%) ")

# sample train set: 26048 (0.80%)
# sample test set: 6513 (0.20%)

**⬇️ Store train and test locally**
- store both dataset in `csv` format
- save train and test set as `data_train.csv` and `data_set.csv`, respectively.
- in both dataset make sure to retain the column names and discard the index as it is not informative.

In [11]:
data_train.to_csv(
    path_or_buf="./data_train.csv",
    header=True,  # Write out the column names
    index=False,  # discard index as it is not informative
)

data_test.to_csv(
    path_or_buf="./data_test.csv",
    header=True,  # Write out the column names
    index=False,  # discard index as it is not informative
)